@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.thin-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.dark .thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
}
